/* General CSS reset and base styles */

/* CSS variables */
:root {
  --color-white: #ffffff;
  --color-white-300: rgba(255, 255, 255, 0.3);
  --color-white-800: rgba(255, 255, 255, 0.8);
  --color-black: #1a1a1a;
  --color-primary: #1a1a1a;
  --color-secondary: #6c757d;
  --color-blue: #2f2483;
  --color-cyan: #009ee3;
  --color-gradient1: radial-gradient(
    117.9% 165.88% at 100% 0%,
    #009ee3 0%,
    #2f2483 100%
  );
  --color-brand: #57b3fe;
  --color-highlight: #00a077;
  --color-dark: #0d0d0d;
  --color-orange-300: #ffe7db;
  --color-orange-600: #fead86;
  --color-green-300: #e7f2ef;
  --color-green-400: #c0f2ef;
  --color-green-500: #51a690;
  --color-green-600: #00a198;
  --color-yellow-300: #faf3d8;
  --color-yellow-400: #ffcf00;
  --color-purple-300: #ede7f2;
  --color-purple-600: #75578e;
  --color-blue-300: #d8f0fa;
  --color-blue-600: #0985b9;
  --font-prompt: "Prompt", sans-serif;
}

/**
   * Set up a decent box model on the root element
   
   */

html {
  box-sizing: border-box;
}

/**
   * Make all elements from the DOM inherit from the parent box-sizing
   * Since `*` has a specificity of 0, it does not override the `html` value
   * making all elements inheriting from the root box-sizing value
   * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
   */

*,/* Rectangle 13 */





*::before,
*::after {
  box-sizing: border-box;
}

/* body has default margin */
body {
  margin: 0;
}

/* h1-h6 has default margin top/bottom */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
  font-family: var(--font-prompt);
  font-weight: 500;
  color: var(--color-primary);
}

/* p tag has default margin top/bottom */
p {
  margin: 0 0 20px;
}

/* ul/ol has default maring,padding and list style like bullets */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* anchor tag has default decoration underline */
a {
  text-decoration: none;
}

/* Responsive image property */
img {
  max-width: 100%;
  height: auto;
}

/* Font */
.prompt-thin {
  font-family: "Prompt", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.prompt-extralight {
  font-family: "Prompt", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.prompt-light {
  font-family: "Prompt", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.prompt-regular {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.prompt-medium {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.prompt-semibold {
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.prompt-bold {
  font-family: "Prompt", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.prompt-extrabold {
  font-family: "Prompt", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.prompt-black {
  font-family: "Prompt", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.prompt-thin-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.prompt-extralight-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.prompt-light-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.prompt-regular-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.prompt-medium-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.prompt-semibold-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.prompt-bold-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.prompt-extrabold-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.prompt-black-italic {
  font-family: "Prompt", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* 
  Page wrapper styles:
  This style will not let any elements to overflow from the page wrapper 
  */

#page-wrapper {
  position: relative;
  overflow: hidden;
}

/* Typography */
body {
  font-family: var(--font-prompt);
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  color: var(--color-primary);
}

/* Generic container styles */
.page-container {
  position: relative;
  min-height: 100vh;
}

/* Navbar */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 109px;

  /* Auto layout */

  padding: 0px;
}

/* Navbar-Top */
.navbar-top {
  width: 100%;
  height: 37px;

  background: linear-gradient(89.95deg, #2f2483 -16.03%, #009ee3 110.22%);
}

#navbar-top-menu {
  /* Auto layout */
  height: 37px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin: auto 0;
}
#navbar-top-menu a {
  color: var(--color-white);
  font-family: "Prompt", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* Bireysel */

/* Navbar-bottom */
.navbar-bottom {
  /* Navbar-bottom */

  /* Auto layout */
  /* Navbar-bottom */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 151px;
  gap: 24px;

  margin: 0 auto;
  width: 100%;
  height: 72px;

  background: #ffffff;

  /* Inside auto layout */
  border-bottom: solid 1px black;
}

#logo {
  /* logo */

  width: 170px;
  height: 24px;
  padding: 12px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
#navbar-bottom-menu {
  /* menu */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#navbar-bottom-menu a {
  /* title */
  font-family: "Prompt";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */

  color: #000000;
}

#navbar-buttons {
  /* buttons */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0px;
  gap: 24px;

  height: 46px;
  margin-top: 10px;
}
.main {
  /* body */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 141px 0px;
  gap: 64px;
  padding: 32px 0px;
}
#slider {
  margin: 0;
}

#homepage-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card {
  /* Stats Card */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  gap: 24px;

  width: 267px;
  min-width: 240px;
  height: 224px;

  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 8px;

  /* Inside auto layout */
}
.card-text {
  /* Review Body */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

  gap: 4px;

  /* Inside auto layout */
}
.card-text-title {
  /* Text Heading */

  font-family: "Prompt";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height, or 175% */
  text-align: center;

  color: #1e1e1e;
}
.card-text-text {
  /* Çağrı Merkezi ve WhatsApp hattımıza 7 gün 24 saat ulaşabilirsiniz. */

  /* prompt regular */
  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #1e1e1e;
}
.card-icon {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1px 4px;
  gap: 10px;

  margin: 0 auto;
  width: 40px;
  height: 40px;

  /* Inside auto layout */
}
.index-kampanyalar {
  /* index kampanyalar */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
#sabit-fiyat {
  /* Sabit-Fiyat */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: baseline;
  gap: 24px;
  isolation: isolate;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  /* Inside auto layout */ /* picture */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 32px;
  gap: 10px;

  height: auto;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}
#left-part {
  /* Left part */

  /* Auto layout */
  display: flex;
  flex-direction: column-reverse;

  justify-content: space-between;
  padding: 10px;
  gap: 10px;
  isolation: isolate;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}
.left-part-button {
  /* butondetaylı bilgi */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  isolation: isolate;

  /* Inside auto layout */
}
#left-part h5 {
  /* DestanNet Abonelerine Özel 12 Ay Sabit Fiyat Kampanyası */

  /* blue title */
  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  /* or 125% */

  color: #2f2483;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
  z-index: 2;
}
#left-part p {
  /* 12 aylık internet hizmet ücretinizi peşin ödeyerek bir yıl boyunca sabit fiyata internet kullanabilirsiniz. Ödemenizi nakit ya da Kredi kartı tek çekim şeklinde gerçekleştirebilirsiniz. */

  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}
#right-part {
  /* picture */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 461px;
  height: 421.86px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}

#kampanya-kartlari {
  /* kampanya-kartları */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  padding: 0px;

  height: 1524px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  gap: 24px;
}
#kampanya-kart {
  /* Kampanya kartı-1 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  width: 558px;
  height: 750px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}
.kampanya-text {
  /* Left part */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  gap: 10px;

  margin: 0 auto;
  width: 554px;
  height: 377px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.kampanya-text-text {
  /* text */

  /* Auto layout */
  /* text */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  padding-top: 16px;
  gap: 10px;

  width: 475px;
  height: 288px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.kampanya-text-text h5 {
  /* İlk Ay Ücretsiz DestanNet Fiber Kampanyası */

  /* İlk Ay Ücretsiz DestanNet Fiber Kampanyası */

  /* blue title */
  /* Farklı operatörlerden geçiş yapan müşterilemiz, herhangi bir kurulum ücreti ödemeden ve internetlerinde kesinti yaşamadan aynı tarife üzerinden internet kullanmaya devam edebilir. */

  /* Taahhütsüz Işık Hızında İnternet Kampanyası */

  width: 480px;
  height: 88px;

  /* blue title */
  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  /* or 125% */

  color: #2f2483;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  /* Inside auto layout */
}
.kampanya-text-text p {
  /* Yeni DestanNet Fiber müşterilemize ve DestanNet Fiber’e geçiş yapan müşterilerimize ilk ay internet ücretsizdir. */

  /* DestanNet ile ayda 320₺’den başlayan fiyatlarla siz de ışık hızında, taahhütsüz ve kotasız fiber İnternetin keyfini sürün. */

  width: 480px;
  height: 190px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.kampanya-button {
  /* buton2 */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 62px;

  margin: 0 auto;

  /* Inside auto layout */
}

.bottom-cards-container {
  margin: 64px 0;
}

/* populer tarifeler */

#populer-tarifeler {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 64px;
}
#populer-tarifeler-title h1 {
  /* Popüler Tarifeler */

  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 52px;
  /* or 116% */
  text-align: center;

  color: #000000;
}
#paketler {
  /* Paketler */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 23px;
}
#tarife-card {
  /* Tarife-card */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 10px;
  margin: 32px 0;
  width: 364px;
  height: 509px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px 20px 0px 0px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tarife-card-top {
  /* Top */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  width: 364px;
  height: 59px;

  /* kaanefekt */
  background: radial-gradient(
    117.9% 165.88% at 100% 0%,
    #009ee3 0%,
    #2f2483 100%
  );
  border-radius: 20px 20px 0px 0px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.tarife-card-top p {
  /* 24 Mbps Fiber */

  font-family: "Prompt";
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  line-height: 90%;
  /* or 90% */
  display: flex;

  align-items: center;
  text-align: center;
  padding-top: 20px;
  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tarife-card-bottom {
  /* Bottom */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 16px;

  margin: 0 auto;
  width: 364px;
  height: 450px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;

  /* Inside auto layout */
}
.bottom-icon img {
  /* bottom-icon */

  width: 324px;
  height: 136px;

  border-radius: 0px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}

.tarife-card-bottom-text {
  /* Text-container */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 324px;
  height: auto;
  margin: 0 auto;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.tarife-card-bottom-text h1 {
  /* 24 Mbps 24 Mbps’ye kadar Download 10 Mbps’ye kadar Upload Taahhüt ve Kota yok */

  margin: 0 auto;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;

  color: #1a1a1a;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tarife-card-bottom-text h2 {
  /* 320₺ */

  margin: 0 auto;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  /* identical to box height, or 88% */

  color: #1a1a1a;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.tarife-card-bottom-text p {
  margin: 0 auto;

  font-family: "Prompt";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}
.tarife-card-bottom-button {
  /* buton2 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  isolation: isolate;

  width: 168px;
  height: 46px;
  margin: 0 auto;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}
.call-us {
  /* Call us */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 32px 0;

  position: relative;

  height: 206px;

  box-shadow: 0px 4px 5px 6px rgba(98, 98, 98, 0.12);
  border-radius: 50px;
}
.call-us-top {
  /* Frame */

  height: 23px;

  background: linear-gradient(90deg, #009ee3 0%, #ffffff 100%);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}

.call-us-bottom {
  /* Frame 14 */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px;

  height: 183px;

  background: #2f2483;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.bottom-content {
  /* contents */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 41px;

  margin: 0 auto;

  height: 101px;

  border-radius: 20px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}
/* textbox */
.bottom-content-textbox {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 648px;
  height: 101px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}
.bottom-content-textbox p {
  /* Size en uygun tarife ve kampanyaları öğrenmek için Çağrı Merkezimizi arayın ya da WhatsApp üzerinden canlı destek alın */

  width: 648px;
  height: 186px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  /* or 143% */
  display: flex;
  align-items: center;

  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.bottom-content-whatsapp {
  /* logos:whatsapp-icon */

  width: 83.35px;
  height: 84px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

/* Footer  */

.footer {
  margin-bottom: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 617px;

  /* kaanefekt */
  background: radial-gradient(
    117.9% 165.88% at 100% 0%,
    #009ee3 0%,
    #2f2483 100%
  );
}
.footer-header {
  /* Footer-Header */

  width: 100%;
  height: 40px;
  text-align: center;
  padding: 8px;
}
#footer-menu {
  /* vertical-menu */

  /* Auto layout */

  padding: 0px;
  margin: 40px 0;
}
#footer-menu h1 {
  /* Hizmetler Altyapı Sorgulama Hız Testi Fatura Ödeme Abonelik Başvurusu Tarife Bilgileri Taahhüt Hatırlatma IP Sorgulama */

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;

  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
#footer-menu li,
a {
  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 33px;
  margin: 8px 0;

  color: #ffffff;
}
#footer-social-icons {
  /* Social Media */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 170px;
  height: 24px;
  left: 1120px;
  top: 336px;
}
#footer-bottom {
  /* trademark */

  /* trademark */

  height: 10px;
  margin-top: 78px;
  padding: 0;
}
#footer-bottom h1 {
  /* © Destannet 2024 */

  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: #ffffff;
}
#footer-bottom p {
  /* Made by Aziz Durmuş */

  font-family: "Prompt";
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 26px;
  /* identical to box height */

  color: rgba(255, 255, 255, 0.7);
}

/* AboneOl.html */

#blue-title {
  /* trademark */

  /* Auto layout */

  /* or 125% */
  display: flex;
  align-items: center;
  text-align: center;

  margin: auto;

  width: 1140px;
  height: 56px;

  /* kaanefekt */
  background: radial-gradient(
    117.9% 165.88% at 100% 0%,
    #009ee3 0%,
    #2f2483 100%
  );
  border-radius: 20px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;

  /* Abonelik Başvurusu */
}

/* Abonelik Başvurusu */
#blue-title h1 {
  /* Hız Testi */
  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;

  width: 1140px;
  height: 50px;
  padding: 16px 0;
  text-align: center;

  /* blue title */

  /* Inside auto layout */

  color: #ffffff;

  /* Inside auto layout */
}

/* Abonelik links */
.abonelik {
  /* Call us */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  position: relative;

  box-shadow: 0px 4px 5px 6px rgba(98, 98, 98, 0.12);
  border-radius: 50px;
}
.abonelik-top {
  /* Frame */

  height: 23px;

  background: linear-gradient(90deg, #009ee3 0%, #ffffff 100%);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}

.abonelik-bottom {
  /* Frame 14 */

  /* Call us */

  /* content */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 8px;
  height: 307px;
  background: #2f2483;

  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

/* textbox */
.abonelik-bottom-textbox {
  /* contents */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  height: 150px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.abonelik-bottom-textbox p {
  /* Abone olmak için ister Çağrı Merkezimizi arayın, ister WhatsApp üzerinden mesaj bırakın, isterseniz de şubemizden abone olun. */

  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  /* or 143% */
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.abonelik-bottom-buttons {
  /* Bottom */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 23px 33px;
  gap: 28px;

  margin: 0 auto;
  width: 786px;
  height: 134px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}
.iznik-left {
  /* top */

  /* Auto layout */

  padding: 0px;

  margin: 0 auto;

  height: 459px;

  /* Inside auto layout */
}
.iznik-left-title h1 {
  /* DestanNet İznik Şubesi */

  height: 71.13px;

  /* blue title */
  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  /* or 125% */
  padding-left: 16px;

  color: #2f2483;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.iznik-left-text {
  /* Beyler Mah. Meriç Sok. No:10/A İznik/BURSA 0850 303 3973 (Müşteri Hattı) 0224 334 1156 (Genel Müdürlük) 0532 723 2799 (WhatsApp Hattı) */

  width: 431px;
  height: 321px;

  /* body para */
  font-family: "Prompt";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */
  padding-left: 16px;
  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.iznik-left-text img {
  font-size: 32px;
  vertical-align: middle;
}
.iznik-left-text span {
  padding-bottom: 0;
}
.iznik-left-button {
  /* buton2 */

  margin: 0;

  height: 46px;

  /* Inside auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  /* Inside auto layout */
}
.google-maps-button {
  /* buton2 */

  /* mavi buton1 */
  /* mavi buton1 */

  box-sizing: border-box;

  width: 170px;
  height: 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #2f2483;
  border: 0.2px solid #ffffff;
  box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  text-align: center;

  /* Google Maps */
}
.google-maps-button-text p {
  width: 103px;
  height: 16px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  /* identical to box height, or 100% */
  text-align: center;
  align-items: center;

  color: #ffffff;
}
.iznik-right {
  height: 459px;
}
#abone-title2 {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  height: 64px;
  margin: 64px 0;

  background: white;
  border-radius: 20px;
  align-items: center;
  text-align: center;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Abonelik Başvurusu */
#abone-title2 h2 {
  height: 64px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 52px;
  /* or 116% */
  display: flex;
  align-items: center;
  text-align: center;

  color: #009ee3;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.abone-content {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 32px;
}
#iznik {
  margin: 64px 0;
}

.hiz-testi-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-between;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 0 32px;
  height: 350px;
}
.hiz-testi-title {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
.hiz-testi-title h1 {
  /* Hız Testi Nasıl Kullanılır? */

  /* blue title */
  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  /* or 125% */
  text-align: center;

  color: #2f2483;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hiz-testi-text-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}
.hiz-testi-text-content h2 {
  /* blue title */
  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  /* or 125% */
  display: flex;
  align-items: center;
  text-align: center;
  margin: 32px;

  color: #000000;
}
.hiz-testi-text-content p,
li {
  /* Güvenilir hız testi sonuçları almak için aşağıdaki adımları izleyebilirsiniz: Arka Planda Çalışan Uygulamaları Kapatın Kablolu Bağlantı Kullanın (Mümkünse) Yakın Sunucuları Seçin Ping Değerlerini Gözlemleyin Sonuçları Karşılaştırın */

  font-family: "Prompt";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  color: #000000;
}

#speedtest {
  /* speedtest first 1 */

  width: 942px;
  height: 594px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}
.hiz-testi-text-content a {
  color: #1a1a1a;
  font-family: "Prompt";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
}
.odeme-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

  height: 274px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

  /* Inside auto layout */
}

.odeme-bottom-textbox {
  /* contents */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 942px;
  height: 124px;

  border-radius: 20px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  /* Ödemelerinizi Online İşlem Merkezimizden yapabilir veya Denizbank, Garanti Bankası, Ziraat Bankası, İş Bankası ve Yapı Kredi Bankasından Otomatik Ödeme Talimatı verebilirsiniz. */
}
.odeme-bottom-textbox p {
  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 40px;
  /* or 143% */
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
  padding: 16px;
  margin-top: 16px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#fastpay {
  /* mid part */

  height: 360px;

  background: #ffffff;
  border-radius: 20px;
  margin: 64px 0;
  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;

  /* Denizbank FastPay */

  /* blue title */
}
#fastpay-text h1 {
  color: #2f2483;
  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  /* or 125% */
  display: flex;
  align-items: center;
  text-align: center;
}
#fastpay-text p {
  /* Denizbank hesabınızla akıllı telefonunuzdan fastPay uygulaması ile anında ödeme yapabilirsiniz */

  font-family: "Prompt";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  color: #000000;
}

.odeme-bottom {
  /* bottom */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;

  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
}
.odeme-bottom h1 {
  /* Banka havalesi ile ödeme yapan müşterilerimizin dikkatine */

  /* blue title */
  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  /* or 125% */
  display: flex;
  align-items: center;
  text-align: center;

  color: #2f2483;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

/* Havale açıklamasına */

/* body para */

#odeme-dikkat ul {
  list-style: initial;
  margin: initial;
  padding: 24px 10px;
}
#odeme-dikkat ol {
  list-style: initial;
  margin: initial;
  padding: 24px 10px;
}
#odeme-dikkat li {
  list-style: initial;
  margin: initial;
  padding: 24px 10px;
}

.odeme {
  /* Call us */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  box-shadow: 0px 4px 5px 6px rgba(98, 98, 98, 0.12);
  border-radius: 25px;
}
.odeme-top {
  /* Frame */

  height: 23px;

  background: linear-gradient(90deg, #009ee3 0%, #ffffff 100%);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}

/* textbox */
.odeme-bottom-textbox {
  /* contents */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  height: 150px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#odeme-dikkat h1 {
  /* Banka havalesi ile ödeme yapan müşterilerimizin dikkatine */

  width: 1140px;
  height: 85px;

  /* blue title */
  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  /* or 125% */
  display: flex;
  align-items: center;
  text-align: center;

  color: #2f2483;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
#odeme-dikkat a {
  color: #009ee3;
  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}
#paketler2 {
  /* Paketler */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  margin: 32px 0;

  width: 1140px;
  height: 509px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
#tarife-card2 {
  /* Tarife-card */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 267px;
  height: 509px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tarife-card-top2 {
  /* Top */

  /* Auto layout */

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  /* Top */

  width: 267px;
  height: 59px;
  padding: 16px 0px;

  /* kaanefekt */
  background: radial-gradient(
    117.9% 165.88% at 100% 0%,
    #009ee3 0%,
    #2f2483 100%
  );
  text-align: center;
  /* Inside auto layout */
}
.tarife-card-top2 p {
  /* Başlangıç Paketi */

  text-align: center;
  align-items: center;
  font-family: "Prompt";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  /* or 122% */

  color: #ffffff;
}

.tarife-card-bottom2 {
  /* Bottom */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  gap: 16px;

  width: 267px;
  height: 450px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.tarife-card-bottom-text2 {
  /* Text-container */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 230px;

  margin: 0 auto;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.tarife-card-bottom-text2 h1 {
  /* 24 Mbps 24 Mbps’ye kadar Download 10 Mbps’ye kadar Upload Taahhüt ve Kota yok */

  margin: 0 auto;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;

  color: #1a1a1a;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tarife-card-bottom-text2 h2 {
  /* 320₺ */

  margin: 0 auto;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 28px;
  /* identical to box height, or 88% */

  color: #1a1a1a;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.tarife-card-bottom-text2 p {
  margin: 0 auto;

  font-family: "Prompt";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

.accordion-title {
  /* Sıkça Sorulan Sorular */

  width: 331px;
  height: 57px;
  text-align: center;

  /* paragraph text */
  font-family: "Prompt";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 120%;
  /* or 38px */

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.navbar-brand a {
  display: flex;
  text-align: center;
  align-items: center;
}

/* Plan Detail Card */
.plan-detail-card {
  /* Plan Detail Card */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 1140px;
  height: 527px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 20px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
/* Top */
.plan-detail-card-top {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 64px;
  gap: 10px;

  width: 1140px;
  height: 59px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: linear-gradient(89.89deg, #2f2483 -19.28%, #009ee3 108.3%);

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;

  /* Destannet Ekonomik Fiber Paketi */

  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 28px;
  /* or 88% */

  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
/* Bottom */
.plan-detail-card-bottom {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 1140px;
  height: 464px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  background: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.plan-detail-card-bottom-leftside {
  /* Bottom */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  gap: 16px;

  width: 267px;
  height: 505px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

/* Text-container */

.plan-detail-card-bottom-leftside-textbox h5 {
  font-family: "Prompt";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}
.plan-detail-card-bottom-leftside-textbox h4 {
  /* 320₺ */

  width: 80px;
  height: 28px;
  left: calc(50% - 80px / 2 + 0.28px);
  top: 188px;
  padding-top: 16px;

  font-family: "Prompt";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 28px;
  /* identical to box height, or 88% */
  display: flex;
  align-items: flex-end;
  text-align: center;

  color: #000000;
}
.plan-detail-card-bottom-leftside-textbox {
  /* Ekonomik Paket 24 Mbps’ye kadar Download 10 Mbps’ye kadar Upload Taahhüt ve Kota yok */

  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 16px;

  color: #000000;
}
.plan-detail-card-bottom-leftside-button {
  text-align: center;
}

/* bottom-rightside */
.plan-detail-card-bottom-rightside {
  /* bottom-rightside */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;

  width: 870px;
  height: 464px;

  background: #ffffff;
  border-radius: 0px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

  /* Yüksek İndirme Hızı: 24 Mbps hızında, dosyaları, filmleri, oyunları ve hızlı bir şekilde indirebilirsiniz. Akıcı Yayın: Netflix, Hulu, YouTube gibi yayın hizmetleri, HD veya hatta 4K içerikleri kesintisiz olarak izlemek yeterli bant genişliği gerektirir. 24 Mbps bağlantı ile birden fazla cihazda aynı anda HD video izleyebilirsiniz. Düşük Ping: Sorunsuz online oyun deneyimi için, düşük gecikme süresi (ping) ve istikrarlı bir internet bağlantısı gerektirir. 24 Mbps fiber bağlantı, single player ve multiplayer oyunlar için iyi bir deneyim sağlar. Çoklu Cihazlar: Birden fazla kullanıcı ve cihazın olduğu evlerde (akıllı telefonlar, tabletler, akıllı TV'ler, bilgisayarlar) 24 Mbps fiber bağlantı, internet hızında belirgin bir yavaşlama olmadan aynı anda birden fazla cihazın bağlanmasına olanak tanır. Video Görüşmeleri: Zoom, Skype, WhatsApp gibi video görüşme uygulamaları, sorunsuz bir şekilde video ve ses iletimi için yeterli bant genişliği gerektirir. 24 Mbps download ve 10 Mbps upload ile, kesintisiz ve gecikmesiz yüksek kaliteli video görüşmeleri yapabilirsiniz. */

  font-family: "Prompt";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.sabitfiyat-text {
  /* right part */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;

  height: 744px;
  top: 64px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sabitfiyat-text-title {
  /* top */

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  /* DestanNet Abonelerine Özel 12 Ay Sabit Fiyat Kampanyası */

  top: 10px;

  /* blue title */
  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  /* or 125% */

  color: #2f2483;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sabitfiyat-text-details {
  width: 480px;
  height: 452.17px;
  bottom: 134px;

  /* body para */
  font-family: "Prompt";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  color: #000000;

  /* AboneOl */
}
.sabitfiyat-text-button {
  /* AboneOl */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  isolation: isolate;

  margin: 0 auto;
  width: 170px;
  height: 46px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.sabitfiyat-text-details li {
  list-style: initial;
  margin: initial;
  padding: 0px 8px;
}
#akordiyon li {
  list-style: initial;
  margin: initial;
  padding: 0px 8px;
}
#akordiyon p {
  /* Fiyatlara KDV ve ÖİV dahildir. 12 ay sabit fiyat fırsatından yararlanan müşteriler, ilgili sürenin bitimine kadar farklı bir kampanyadan yararlanamaz. 12 ay sonunda müşteri güncel tarife üzerinden faturalandırılır. Bu kampanya 31.10.2024 tarihine kadar geçerlidir. Statik IP, modem, teknik servis ücreti gibi ücretler bu kampanyaya dahil değildir. Nakil (Adres değişikliği) 500₺ ’dir. Hat dondurma ücreti 170₺ ’dir. Yalın VDSL ve Yalın Fiber kampanyasında 500₺ Eve Kadar Kurulum ve aktivasyon ücreti alınmaktadır.  */

  font-family: "Prompt";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  /* or 175% */

  color: #000000;
}

.taahhutsuz-text {
  /* right part */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  gap: 10px;

  height: 600px;
  top: 64px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.taahhutsuz-text-details {
  /* body para */
  font-family: "Prompt";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

  color: #000000;

  /* AboneOl */

  /* Auto layout */
}
.taahhutsuz-text-details li,
ul {
  list-style: initial;
  margin: initial;
  padding: 10px;
}

.taahhutsuz-text-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  isolation: isolate;
  margin: 0 auto;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.gigabit-text {
  /* right part */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  gap: 10px;

  height: 900px;
  top: 64px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.gigabit-text-details {
  /* body para */
  font-family: "Prompt";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

  color: #000000;
}
.gigabit-text-details li,
ul {
  list-style: initial;
  margin: initial;
  padding: 10px;
}
.gigabit-text-details a {
  color: #009ee3;
  font-family: "Prompt";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
}
.ucretsizGecis-text {
  /* right part */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 32px;
  gap: 10px;
  height: 570px;
  top: 64px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ucretsizGecis-button {
  /* Button */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.ucretsizGecis-text-details {
  /* body para */
  font-family: "Prompt";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  /* or 133% */

  color: #000000;
}
.ucretsizGecis-text-details a {
  color: #009ee3;
  font-family: "Prompt";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
}
